.status-bar {
    font-size: var(--font-size-status-bar);
    padding: var(--padding-status-bar);
    justify-content: space-between;
    color: #FFFFFF;
}

.status-bar .datetime {
    font-weight: 600;
    letter-spacing: -0.3px;
}

.status-bar .right {
    gap: 5px;
    align-items: center;

}

.status-bar .left {
    gap: 5px;
    align-items: center;
}

.mobile-signal-img {
    background: no-repeat url('/src/assets/images/icons/Mobile-signal.svg');
    width: 16.5px;
    height: 10px;
}

.wifi-img {
    background: no-repeat url('/src/assets/images/icons/Wifi.svg');
    width: 16px;
    height: 10px;
}

.bluetooth-img {
    background: no-repeat url('/src/assets/images/icons/Bluetooth.svg');
    width: 8px;
    height: 14px;
}